    
@keyframes heart-click {
  from {
    opacity: 0.3;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes box-check {
  from {
    opacity: 0.3;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@media screen and (min-width: 1024px) {

.menu-Button a:hover {
  opacity: 0.8;
  transform: scale(1.02);
  box-shadow: 0px 6px 14px rgba(0,0,0,0.25);
}
}