    
@keyframes heart-click {
  from {
    opacity: 0.3;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes box-check {
  from {
    opacity: 0.3;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}