@mixin set-up {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin set-up-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
// @mixin set-up-footer-mobile {
// display: flex;
// gap: 20px;
//   flex-direction: column;
// }