
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$font-title: 'Shrikhand', cursive;
$font-title2: 'Shrikhand', revert-layer;
$font-text: 'Roboto', sans-serif;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$background-color:#F6F6F6;
$footer-background:#353535;
$font-color:white;
$gradient-primary: linear-gradient(357deg, #9356DC 0%, #FF79DA 100%);
