@import 'variables';
@import 'mixins';
@import 'animations';


// mobile first/
* {
  outline: 1px solid red; }
main {
    // width: 100%;
    margin: 0;
background-color: $background-color;
}
body {
    width: 100%;
    margin: 0;
    font-family: $font-text;
}
    #first-logo {
    display: flex;
    align-items: center;
    width: 55%;
    margin: 0;
}
header {
  width: 100%;
  margin: auto;
  box-shadow: 0 6px 15px rgba(0, 0,1, 0.12);
  #first-logo {
  width: 52%;
  font-family: $font-title;
  @include set-up;
  margin:auto;
  padding: 5%;
}
.head {
    padding-left: 15px;
}

  h1 {
  font-family: $font-title;
  @include set-up

  }
}


.location { 
  @include set-up;
  margin:auto;
  background-color: $background-color;
  font-family: $font-text;
    font-weight: normal;
    font-size: 12px;
  box-shadow: 0 6px 15px rgba(0, 0,1, 0.12);
  
  h2{
    width: 100%;
@include set-up;
    gap: 20px;
  }
}
 .hero {
  
  h2 {
    width: 83%;
  @include set-up;
  margin: auto;
  text-align: center;
    padding-top: 15px;
  }
  .div-intro {
@include set-up;
    flex-direction: column;
      padding-bottom: 50px;

.text-intro {
  width: 84%;
@include set-up;
  text-align: center;
    font-weight: lighter;
}}
button {
  width: 60%;
  height:50px;
  border-radius: 25px;
background: $gradient-primary;
color: white;
font-size: 16px;
border: none;
a {
  text-decoration: none;
  color: $font-color;
}
}}
.how-it-works {
  background-color: white;
    height: 440px;
  padding-left: 23px;
    padding-top: 10px;
  .card-how-it-works {
// width: 100%;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  .card-icone {
  margin: 40px;
  }
  .card-choose {
  background-color: $background-color;
  width: 92%;
  height: 73px;
  border-radius: 20px;
  @include set-up ;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  svg {
    display: flex;
    justify-content: start;
    position: absolute;
    left: 10px;
  }
}
  .card-menu {
background-color: $background-color;
  width: 92%;
  height: 73px;
  border-radius: 20px;
  @include set-up ;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  
svg {
  display: flex;
  justify-content: start;
  position: absolute;
  left: 10px;
  }       

}
 .card-enjoy{
background-color: $background-color;
  width: 92%;
  font-size: 16px;
  height: 73px;
  border-radius: 20px;
  @include set-up ;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  svg {
    display: flex;
    justify-content: start;
    position: absolute;
    left: 10px;
  }
  }
}
}

.restaurants {
  background-color: $background-color;
  padding-left: 6%;
    padding-bottom: 15px;
  h2 {
    width: 80%;
  }
.card{
  width: 96%;
  img {
    width: 100%;
    height: 180px; 
  object-fit: cover;
    object-position: center 62%;
    border-radius: 15px 15px 0 0 ;
    overflow: hidden;
}
a {
  text-decoration: none;
  color: black;
}
.new-svg {
 position: relative;
  top: 50px;
  right: 0px;
  height: 37px;
  z-index: 1;
  left: 232px;
}
.card-content {
  background-color: white;
border-radius: 0 0 15px 15px;
  // margin-top: -22px;
    padding-top: 15px;
  margin-top: -4px;
}
.card-title{
display: flex;
align-items: center;
justify-content: space-between;
width: 90%;
  margin-bottom: 0px;
  height: 20px;
  margin: auto;
}
.like-1 {
  display: none;
}
.like-2 {
  display: none;
}
.like-3 {
  display: none;
}
.like-4{
  display: none;
}

.heart {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.heart-path {
  fill: none; 
  stroke: #101010;
  stroke-width: 1;
  transition: all 0.3s ease-in-out;
}
.like-1:checked + label .heart-path {
  fill: url(#heartGradient); 
  stroke: none;
}
.like-2:checked + label .heart-path {
  fill: url(#heartGradient); 
  stroke: none;

}
.like-3:checked + label .heart-path {
  fill: url(#heartGradient); 
  stroke: none;
}
.like-4:checked + label .heart-path {
  fill: url(#heartGradient); 
  stroke: none;
}
.card-txt {
  font-weight: lighter;
  padding-left: 15px;
  padding-bottom: 2px;
  margin-bottom: 25px;
}
  }
}
footer {
  background-color: $footer-background;
  padding-left: 6%;
  padding-top: 15px;
  color: white;
  font-size: 16px;
  font-family: roboto;
h2 {
  color: $font-color;
  font-family: $font-title;
  font-size:18px ;
  width: 85%;
  margin-top: 0px;  
}
.footer-div {
  @include set-up-column;
  color: #FFFFFF;
a {
  text-decoration: none;
  color: #FFFFFF;
    margin: 10px;
}
}
svg {
  padding-right: 10px;
}}

@media screen and (min-width: 1024px) {
  .hero button { width: 22%;
}
// Fonctionnement section// 
.how-it-works {
  padding-left: 0;
h2 {
  width: 18%;
  height: 31px;
  margin-left: 127px;
}
.card-how-it-works {
@include set-up-row;
    width: 75%;
  height: 228px;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: auto;
.card-choose {
  width: 43%;
  svg {
  position: static !important;
  margin-right: 8px;
  margin-left: 0px;
}
  }
.card-menu {
    width: 43%;
  svg {
  position: static !important;
  margin-right: 8px;
  margin-left: 0px;
}
}
.card-enjoy{
  width: 43%;
svg {
  position: static !important;
  margin-right: 8px;
  margin-left: 0px;
}
}
}
}
.restaurants {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 50px;
  padding-left: 0;
  margin: 0 auto;
  margin-left: 70px;
  width: auto;
h2 { 
  grid-column: 1 / -1;
}
.card { 
  width: 75%;
.new-svg {
  left: 70%;
}
.card-txt { 
  width: 35%;
  padding-left: 23px;
}
}
}
footer {
  display: flex;
h2{
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: start;
  width:14%;
} 
  .footer-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  
}

  
svg {
    padding-right: 10px;
}
}
// La palette du goût
main {
  background-color: white;
}

header { 
h1 {
  margin: auto;
}
}
.hero-img{
  img {
    width: 100%;
    height: 383px;
  }
}
.card-background {
  display: flex;
  flex-direction: column;
  width: 77%;
  justify-content: center;
  align-items: unset;
  margin: auto;
    margin-top: -106px;

.border-aqua {
  margin-left: 80px;
}

}
.starter{ 
.card-menu {
  width: 80%;
}
}
.btn-section{ 
.menu-Button {
  width: 186px;
    padding-right: 0px;
}
.menu-Button::hover {
  color: #101010;
}
}
footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
  
h2 {
  display: flex;
  align-items: center;
  width: 14%;
}}
div {
  flex-direction: row;
  display: flex;
  gap: 12px;
  padding-right: 30px;
}
}



.head{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 39px;
  padding-left: 25px;
    height: 63px;
.arrow_left{ 
  margin-right: 14px;
}


} 


// header{
//   .page-1 {
//       padding-left: 23px;
//   }
// }

.la-palette-du-gout-img { 
  width: 100%;}
.card-background {
  border-radius: 35px 35px 0px 0px;
    margin-top: -55px;
    background-color: $background-color;
      position: relative;
  h1 {
  font-family: $font-title;
  font-size: 28px;
  }
.big-title {
  @include set-up;
  gap: 25px;
  padding-top: 16px;
  padding-bottom: 0px;}
  .heart {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.heart-path {
  fill: none; 
  stroke: #101010;
  stroke-width: 1;
  transition: all 0.3s ease-in-out;
}
.like-5:checked + label .heart-path {
  fill: url(#heartGradient); 
  stroke: none;
}
.like-5{
  display: none;
}
}
.border-aqua {
  border-bottom: solid 2.5px $tertiary-color;
  width: 40px;
  padding-left: 0px;
    margin-left: 27px;
  margin-top: 10px;
.menu-title {
  margin-top: 0px;
  padding-left: 0px;
  font-family: $font-text;
  font-weight: lighter;
  font-size: 16px;
    margin-bottom: 5px;
}
}
.starter {
@include cards-menu;
}
 .card-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
    width: 92%;
  height: 73px;
  border-radius: 20px;
    background-color: white;
  position: relative;
  margin : auto;
    overflow: hidden;     // pour que le carré caché ne dépasse pas

h3 {
  margin: 0;
    padding-left: 13px;
      padding-top: 10px;
      font-size: 18px;
      font-family: $font-text;
}
p {
    padding-left: 13px;
    display: flex;
  justify-content: space-between;
    margin-top: 10px;
    font-family: $font-text;
    font-size: 15.04px;
  font-weight: lighter;
}
span {
    padding-right: 15px;
    font-weight: bold;
}
aside {
@include aside-set-up;
}
.card-menu-right {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 10px;
}
} 
.box {
  @include box;
  margin-right: -12px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  svg  {
  margin-top: 25px;
  margin-left: 17px;
  }
}
.checkbox-1{
  display: none;
}

  .card-menu-text {
  white-space: nowrap;
  width: 100%;
  }

.checkbox-1:checked + label .box {
  transform: translateX(0);
    margin-right: -11px;
}

.checkbox-2{
  display: none;
}


.checkbox-2:checked + label .box {
  transform: translateX(0);
    margin-right: -11px;
}
.checkbox-3{
  display: none;
}


.checkbox-3:checked + label .box {
  transform: translateX(0);
    margin-right: -11px;
}

// PLat 
.checkbox-4{
  display: none;
}


.checkbox-4:checked + label .box {
  transform: translateX(0);
    margin-right: -11px;
}

.checkbox-5{
  display: none;
}


.checkbox-5:checked + label .box {
  transform: translateX(0);
    margin-right: -11px;
}
.checkbox-6{
  display: none;
}


.checkbox-6:checked + label .box {
  transform: translateX(0);
    margin-right: -11px;
}
//desert
.checkbox-7{
  display: none;
}


.checkbox-7:checked + label .box {
  transform: translateX(0);
    margin-right: -11px;
}

.checkbox-8{
  display: none;
}


.checkbox-8:checked + label .box {
  transform: translateX(0);
    margin-right: -11px;
}
.checkbox-9{
  display: none;
}


.checkbox-9:checked + label .box {
  transform: translateX(0);
    margin-right: -11px;
}

.mains{
@include cards-menu;
}
.desserts {
  @include cards-menu;
}
.btn-section {
padding-top: 40px;
  padding-bottom: 40px;
}
.menu-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(357deg, #9356DC 0%, #FF79DA 100%);
    margin: auto;
  a {
    text-decoration: none;
    color: white;
  font-size: 16px;
  border: none;
  }
}


// .checkbox-1  {
//   fill: none; 
//   stroke: #101010;
//   stroke-width: 1;
//   transition: all 0.3s ease-in-out;
// }
//   .box-check {
//   cursor: pointer;
//   transition: transform 0.3s ease-in-out;
// }