@import 'variables';
@import 'mixins';

// mobile first/
* {
  outline: 1px solid red; }
main {
    // width: 100%;
    margin: 0;
background-color: $background-color;
}
body {
    width: 100%;
    margin: 0;
    font-family: $font-text;
}
    #first-logo {
    display: flex;
    align-items: center;
    width: 55%;
    margin: 0;
}
header {
  width: 100%;
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  #first-logo {
  width: 52%;
  font-family: $font-title;
  @include set-up;
  margin:auto;
  padding: 5%;
}

}
.location { 
  @include set-up;
  margin:auto;
  background-color: $background-color;
  font-family: $font-text;
    font-weight: normal;
    font-size: 12px;
  h2{
    width: 100%;
@include set-up;
    gap: 20px;
  }
}
 .hero {
  
  h1 {
    width: 83%;
  @include set-up;
  margin: auto;
  text-align: center;
  
  }
  .div-intro {
@include set-up;
    flex-direction: column;

.text-intro {
  width: 84%;
@include set-up;
  text-align: center;
    font-weight: lighter;
}}
button {
  width: 60%;
  height:50px;
  border-radius: 25px;
background: $gradient-primary;
color: white;
font-size: 16px;
border: none;
}}
.how-it-works {
  background-color: white;
    height: 440px;
  padding-left: 6%;
    padding-top: 10px;
  .card-how-it-works {
// width: 100%;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .card-choose {
background-color: $background-color;
  width: 92%;
  height: 73px;
  border-radius: 20px;
  @include set-up ;
  svg {
    display: flex;
    justify-content: start;
    position: absolute;
    left: 10px;
  }
}
  }
}



