@import 'variables';
@import 'mixins';
@import 'animations';


// mobile first/
* {
  outline: 1px solid red; }
main {
    // width: 100%;
    margin: 0;
background-color: $background-color;
}
body {
    width: 100%;
    margin: 0;
    font-family: $font-text;
}
    #first-logo {
    display: flex;
    align-items: center;
    width: 55%;
    margin: 0;
}
header {
  width: 100%;
  margin: auto;
  box-shadow: 0 6px 15px rgba(0, 0,1, 0.12);
  #first-logo {
  width: 52%;
  font-family: $font-title;
  @include set-up;
  margin:auto;
  padding: 5%;
  margin-top: -21px;
  padding-top: 8px;
}
.head {
    padding-left: 15px;
      // gap: 60px;
}

  h1 {
  font-family: $font-title;
  @include set-up;
      margin: auto;
  }
}


.location { 
  @include set-up;
  margin:auto;
  background-color: $background-color;
  font-family: $font-text;
    font-weight: normal;
    font-size: 12px;
  box-shadow: 0 6px 15px rgba(0, 0,1, 0.12);
    // margin-top: -6%;
  
  h2{
    width: 100%;
@include set-up;
    gap: 20px;
  }
}
 .hero {
h2 {
  width: 83%;
  @include set-up;
  margin: auto;
  text-align: center;
  padding-top: 15px;  
  padding-top: 33px;
}
.div-intro {
@include set-up;
  flex-direction: column;
  padding-bottom: 50px;
.text-intro {
  width: 84%;
@include set-up;
  text-align: center;
    font-weight: lighter;
}}
button {
  width: 218px;
  height:50px;
  border-radius: 25px;
background: $gradient-primary;
color: white;
font-size: 16px;
border: none;
a {
  text-decoration: none;
  color: $font-color;
    font-size: 15px;
}
}}
.how-it-works {
  background-color: white;
    height: 440px;
  padding-left: 23px;
    padding-top: 10px;
  .card-how-it-works {
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  .card-icone {
  margin: 40px;
  }
  .card-choose {
  background-color: $background-color;
  width: 92%;
  height: 73px;
  border-radius: 20px;
  @include set-up ;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  svg {
    display: flex;
    justify-content: start;
    position: absolute;
    left: -11px;
  }
} 
.card-menu {
  background-color: $background-color;
  width: 92%;
  height: 73px;
  border-radius: 20px;
  @include set-up ;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  svg {
    display: flex;
    justify-content: start;
    position: absolute;
    left: 10px;
  }
  }
  .card-enjoy {
  background-color: $background-color;
  width: 92%;
  height: 73px;
  border-radius: 20px;
  @include set-up ;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  svg {
    display: flex;
    justify-content: start;
    position: absolute;
    left: 10px;
  }
  }
}
}

.restaurants {
  background-color: $background-color;
margin: 6%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
    margin-bottom: 0px;
  justify-content: center;
  align-items: center;
    width: auto;
  h2 {
    width: 80%;
  }
.card {
    width: 100%;
      // margin-top: -37px;
}
  img {
    width: 100%;
    height: 180px; 
  object-fit: cover;
    object-position: center 62%;
    border-radius: 15px 15px 0 0 ;
    overflow: hidden;
}
a {
  text-decoration: none;
  color: black;
}
.new-svg {
 position: relative;
  top: 50px;
  right: 0px;
  height: 37px;
  z-index: 1;
  left: 69%;
}
.card-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0 0 15px 15px;
  padding-top: 15px;
  margin-top: -4px;
    height: 78px;
}
.card-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 0px;
  height: 20px;
  margin: auto;
}
.like-1 {
  display: none;
}
.like-2 {
  display: none;
}
.like-3 {
  display: none;
}
.like-4{
  display: none;
}

.heart {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.heart-path {
  fill: none; 
  stroke: #101010;
  stroke-width: 1;
  transition: all 0.3s ease-in-out;
}
.like-1:checked + label .heart-path {
  fill: url(#heartGradient); 
  stroke: none;
}
.like-2:checked + label .heart-path {
  fill: url(#heartGradient); 
  stroke: none;

}
.like-3:checked + label .heart-path {
  fill: url(#heartGradient); 
  stroke: none;
}
.like-4:checked + label .heart-path {
  fill: url(#heartGradient); 
  stroke: none;
}
.card-txt {
  font-weight: lighter;
  padding-left: 15px;
  padding-bottom: 2px;
  margin-bottom: 25px;
  p {
    margin-left: 7px;
  }
}
  }

footer {
  background-color: $footer-background;
  padding-left: 6%;
  padding-top: 15px;
  color: white;
  font-size: 16px;
  font-family: roboto;

h2 {
  color: $font-color;
  font-family: $font-title2;
  font-size:18px ;
  width: 85%;
  margin-top: 0px;  
}
.footer-div {
  @include set-up-column;
  color: #FFFFFF;

}.footer-txt {
  color: #FFFFFF;
  // padding-bottom: 16px;
    margin-bottom: 0px;
}
#contact{
  margin-bottom: 0px;
  padding-bottom: 16px;
}
svg {
  padding-right: 10px;
}}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles tablette ici */

header {

h1{
  padding-top: 15px;
  margin-top: 0px;
    margin: auto;
}
}
.hero {
h2 {
br {
  display: none;
}
}
.div-intro {
.text-intro {
br {
  display: none;
}}}}
.card-background{ 
.border-aqua {
  margin-left: 181px;
}}

.starter{ 
.menu-card {
  width: 634px;
}
}
.location{
  margin-top: -22px;
h2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 41px;
}
}
.hero button {       
  width: 225px;
}

.restaurants {
h2 {
    width: 100%;
}
.card-txt { 
  padding-left: 26px;
}
p {
  margin-left: 0px;
  padding-left: 0px;
}
.new-svg {
  left: 85%;
}
.card-title{
h3 {
  margin-left: -8px;
}
}}
.btn-section{
.menu-Button {
    width: 186px;
} }
}
@media screen and (min-width: 1024px) {
.hero{
h2{
br {
  display: none;
}
}}
.location{
  h2{
width: auto;
  }
}
.hero button {   
  width: 245px;
}
.hero {
.div-intro {
.text-intro {
br {
  display: none;
}}}}

// Fonctionnement section// 
.how-it-works {
  padding-left: 0;
h2 {
  width: 18%;
  height: 31px;
  margin-left: 127px;
}
.card-how-it-works {
@include set-up-row;
  width: 75%;
  height: 228px;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: auto;
.card-choose {
  // width: 43%;
  svg {
  // position: static !important;
  // margin-right: 8px;
  // margin-left: 0px;
  //   margin-left: -30px;
}
  }


  .card-icone {
  margin: 40px;
  }
  .card-choose {
  background-color: $background-color;
  width: 92%;
  height: 73px;
  border-radius: 20px;
  @include set-up ;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  svg {
  position: relative;
  margin-left: 8px; 
  left: -20px;
}
p {
  width: 100%;
  display: block ruby;
  margin-left: -52px;
}
} 
.card-menu {
  background-color: $background-color;
  width: 92%;
  height: 73px;
  border-radius: 20px;
  @include set-up ;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
svg {
  display: flex;
  justify-content: start;
  position: relative;
  left: -20px;
  margin-left: 8px;
}
p {
  width: 100%;
  display: block ruby;
  margin-left: -52px;
}
}
.card-enjoy {
  background-color: $background-color;
  width: 92%;
  height: 73px;
  border-radius: 20px;
  @include set-up ;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
svg {
  display: flex;
  justify-content: start;
  position: relative;
  left: -20px;
  margin-left: 8px;
}
p {
  width: 100%;
  display: block ruby;
  margin-left: -52px;
}
}
}
}
.location {
  margin-top: 0%; }
.restaurants {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 50px;
  padding-left: 0;
  margin: 0 auto;
  padding-left: 70px;
  width: auto;
h2 { 
  grid-column: 1 / -1;
}
.card { 
  width: 75%;
.new-svg {
  left: 70%;
}
.card-txt { 
width: auto;
  padding-left: 18px;
p {
  margin-left: 0;
}
}
}
}
footer {
  display: flex;
h2{
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: start;
  width:14%;
  padding-right: 29px;
} 
  .footer-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  
}
svg {
  padding-right: 10px;
}
}
// La palette du goût
main {
  background-color: white;
}

header { 
h1 {
  margin: auto;
}
}
.hero-img{
img {
  width: 100%;
  height: 383px;
  object-fit: cover;
}
}
.card-background {
  display: flex;
  flex-direction: column;
  width: 77%;
  justify-content: center;
  align-items: unset;
  margin: auto;
  margin-top: -24px;

.border-aqua {
    margin-left: 116px;
  }

}
.starter{ 
.menu-card {
  width: 634px;
}
}
.card-content {
    display: flex;
  height: 70px;
  width: 100%;
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 551px;
  gap: 3px;
  flex: 1;
  padding: 12px;
}
}
.toggle-check:checked + .card-content .card-selected {
  width: 0px;
}

.menu-card:hover .card-selected {
  width: 70px;                         
}

.menu-card:hover .card-price {
  transform: translateX(-15px);        
}
.btn-section { 
   display: flex;
  justify-content: center;
.menu-Button {
    width: 186px;
    background-color: white;   
    transition: all 0.3s ease;   
}
.menu-Button:hover {
  background-color: white;
  opacity: 0.7;              
  box-shadow: 0px 6px 14px rgba(0,0,0,0.10);
}
a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 600;
}
}
footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  margin-bottom: 0;
  padding-bottom: 15px;

h2 {
  display: flex;
  align-items: center;
  width: 14%;
  justify-content: center;
  padding-left: 15px;
}}
div {
  flex-direction: row;
  display: flex;
  padding-right: 30px;
    padding-right: 0px;
p{
    padding-right: 20px;
}}
}

.head{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // gap: 60px;
  padding-left: 25px;
    height: 63px;
.arrow_left{ 
  margin-right: 14px;
}
} 


.la-palette-du-gout-img { 
  object-fit: cover;
  object-position: center;
  height: 275px;
  width: 100%;
}
.La-note-enchantée-img { 
  object-fit: cover;
  object-position: center;
  height: 275px;
  width: 100%;
  }

  .Le-délice-des-sens-img { 
  object-fit: cover;
  object-position: center;
  height: 275px;
  width: 100%;
}
.À-la-française-img { 
  object-fit: cover;
  object-position: center;
  height: 275px;
  width: 100%;
  }
.card-background {
  border-radius: 35px 35px 0px 0px;
  margin-top: -58px;
  background-color: $background-color;
  position: relative;
  h1 {
  font-family: $font-title;
  font-size: 28px;
  margin-left: -30px;
}
.big-title {
  @include set-up;
  gap: 25px;
  padding-top: 16px;
  padding-bottom: 0px;}
  .heart {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.heart-path {
  fill: none; 
  stroke: #101010;
  stroke-width: 1;
  transition: all 0.3s ease-in-out;
}
.like-5:checked + label .heart-path {
  fill: url(#heartGradient); 
  stroke: none;
}
.like-5{
  display: none;
}
}
.border-aqua {
  border-bottom: solid 2.5px $tertiary-color;
  width: 40px;
  padding-left: 0px;
  margin-left: 15px;
  margin-top: 10px;
.menu-title {
  margin-top: 0px;
  padding-left: 0px;
  font-family: $font-text;
  font-weight: lighter;
  font-size: 16px;
    margin-bottom: 5px;
}
}
.starter {
@include cards-menu;
}
.menu-card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden; 
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 345px;
  margin-bottom: 0px;
}
.toggle-check {
  display: none;
}

.card-content {
  display: flex;
  cursor: pointer; 
  height: 70px; 
}

.card-info {
  flex: 1;
  padding: 12px;
  min-width:0;
}






h3 {
  margin: 0 0 5px 0;
  font-size: 18px;
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-description {
  margin: 0;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: lighter;
}

.card-price {
  font-weight: bold;
  padding-left: 15px; 
  flex-shrink: 0; 
}
.card-selected {
  background-color: $tertiary-color;
  width: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.5s ease-in-out;
}

.toggle-check:checked + .card-content .card-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toggle-check:checked + .card-content .card-info h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toggle-check:checked + .card-content .card-selected {
  width: 59px;
}

.toggle-check:checked + .card-content .box-check {
  transform: rotate(360deg);
}

  .card-menu-text {
  white-space: nowrap;
  width: 100%;
  }
.mains{
@include cards-menu;
}
.desserts {
  @include cards-menu;
}
.btn-section {
padding-top: 40px;
  padding-bottom: 40px;
}
.menu-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 186px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(357deg, #9356DC 0%, #FF79DA 100%);
    margin: auto;
  a {
    text-decoration: none;
    color: white;
  font-size: 16px;
  border: none;
  }
}
